<IfModule mod_rewrite.c>

RewriteEngine On

Options -Indexes
Options +MultiViews

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ index.php?uri=$1 [L]

</IfModule>